body{
    background-color:#fafafa;
    padding: 0rem;
    margin: 0rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
}

@media screen and (min-width: 1300px) and (max-width:1440px){
    #S2{
        padding: 380px;
    }
    #S2P{
        font-size: 30px;
    }

    #S4MI{
        left: 200px;
    }
}

.contact-form {
  position: relative; /* Avoid absolute/fixed unless needed */
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext{
    display: none;
}
@media (min-width: 768px) {
  .tooltiptext {
    display: inline;
  }
}
/* scroll wheel code*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(14,37,37,0.9); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  black; 
}
