body{
    background-color: rgba(14,37,37,1);
    padding: 0rem;
    margin: 0rem;
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 1300px) and (max-width:1440px){
    #S2{
        padding: 380px;
    }
    #S2P{
        font-size: 30px;
    }

    #S4MI{
        left: 200px;
    }
}

.contact-form {
  position: relative; /* Avoid absolute/fixed unless needed */
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}