body{
    background-color:#fafafa;
    padding: 0rem;
    margin: 0rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
  flex-grow: 1;
}

@media screen and (min-width: 1300px) and (max-width:1440px){
    #S2{
        padding: 380px;
    }
    #S2P{
        font-size: 30px;
    }

    #S4MI{
        left: 200px;
    }
}

.contact-form {
  position: relative; /* Avoid absolute/fixed unless needed */
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext{
    display: none;
}
@media (min-width: 768px) {
  .tooltiptext {
    display: inline;
  }
}
/* scroll wheel code*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(14,37,37,0.9); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  black; 
}

#S2 form{
  min-width: 700px;
  display: grid;
  gap: 1rem;
  border-radius: 20px;
  padding: 50px;

 
}

.form-group{
  display: grid;
  gap: 0.5em;
}

.form-group label{
  font-weight: 500;
  color: white;
  font-size: 20px;
}

.form-group input{
  border-radius: 16px;
  padding: 1ex;
  width: 100%;
  background-color: rgba(50, 88, 88, 0.8);
  text-align:start;
  font-size: 25px;
  color: white;
  
}

.form-group textarea{
  border-radius: 16px;
  padding: 1ex;
  width: 600px;
  height: 200px;
   background-color: rgba(50, 88, 88, 0.8);
   font-size: 15px;
   color: white;
   resize: none;
}

#btn{
  display: grid;
  justify-self: end;
  grid-column: 1/-1;
  background-color: #0e2525;
  color: white;
  padding: 20px;
  border-radius: 25px;
  margin-top: 20px;
  font-weight: 600;
  
  
}

#vid{
 background-color: black;

}

#vid video {
  width: 100%;
  max-height: 300px; /* Set your desired height */
  object-fit: cover;  /* Crop to fill, or use 'contain' to fit */
  display: block;
}




