body{
    background-color:#fafafa;
    padding: 0rem;
    margin: 0rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
  flex-grow: 1;
}

@media screen and (min-width: 1300px) and (max-width:1440px){
    #S2{
        padding: 380px;
    }
    #S2P{
        font-size: 30px;
    }

    #S4MI{
        left: 200px;
    }
}

.contact-form {
  position: relative; /* Avoid absolute/fixed unless needed */
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext{
  visibility: hidden;
  width: 5rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiptext{
    display: none;
}
@media (min-width: 768px) {
  .tooltiptext {
    display: inline;
  }
}
/* scroll wheel code*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(14,37,37,0.9); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  black; 
}





.form-group2{
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;

}

.form-group2 label{
  font-weight: 500;
  color: white;
  font-size: 20px;
}

.form-group2 input{
  border-radius: 16px;
  padding: 1ex;
  width: 100%;
  background-color: rgba(50, 88, 88, 0.8);
  text-align:start;
  font-size: 15px;
  color: white;
  
}

.form-group2 input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}



#vid{
 background-color: black;

}

#vid video {
  width: 100%;
  max-height: 300px; /* Set your desired height */
  object-fit: cover;  /* Crop to fill, or use 'contain' to fit */
  display: block;
}




